:root {
    .positionContainerOnlyEmoji__08434{
        transform: translateY(calc(50vh - 25vh))  translateX(26vw);
    }

    .drawerSizingWrapper__08434 {
        height: calc(calc(90vh - 38px))!important;
        transform: translateX(30px) translateY(calc(500px - calc(90vh - 30px)));
    }
}